@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Clarity City';
  src: url('/fonts/ClarityCity-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clarity City';
  src: url('/fonts/ClarityCity-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clarity City';
  src: url('/fonts/ClarityCity-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Brand colors */
  --color-bg: #040609;
  --color-bg-light: #080C0F;
  --color-bg-darker: #040609;
  --color-primary: rgb(0 139 255);
  --color-primary-dark: rgb(0 109 204);
  --color-primary-10: rgb(0 139 255 / 0.1);
  --color-primary-30: rgb(0 139 255 / 0.3);
  --color-accent: rgb(162 120 255);
  --color-accent-10: rgb(162 120 255 / 0.1);
    --color-accent-70: rgb(162 120 255 / 0.5);
  --color-text: rgb(234 234 234);
  --color-muted: rgb(139 144 149);
  --color-border: #171b1f;
  --color-white: rgb(255 255 255);
  --color-accent-dark: #0C0C16
}

html {
  scroll-behavior: smooth;
}

@keyframes gradient-slow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-slow {
  animation: gradient-slow 6s ease-in-out infinite;
}

body {
  font-family: "Clarity City", sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
